<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	
	<appSettings/>
	
	<connectionStrings/>
	
	<system.web>
    
		    <compilation debug="true">
			    <assemblies>
				    <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				    <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				    <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				    <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			    </assemblies>
		    </compilation>
    		
            <authentication mode="Forms">
              <forms cookieless ="UseCookies" defaultUrl="Login.aspx" name=".DaybookAuthCookie" protection="All" slidingExpiration="true" />      
            </authentication>
        
		    <profile enabled="true">
			    <properties>
                    <group name="Calendar">
                        <add name="View" type="Aveo.Daybook.Utils.ProfileCalendarView" defaultValue="Week" serializeAs="String"/>
                        <add name="CustomViewDays" type="int" defaultValue="3" />
                        <add name="TimeFormat" type="Aveo.Daybook.Utils.ProfileCalendarTimeFormat" defaultValue="TwelveHour" serializeAs="String" />
                        <add name="ShowNonBusinessHours" type="bool" defaultValue="false"/>
                        <add name="ExcludeRepositories" type="System.Collections.ArrayList" serializeAs="Xml"/>
                        <add name="ExcludeMyDaybook" type="bool" defaultValue="false"/>
                    </group>
                    <group name="Tasks">
                        <add name="HideCompletedTasks" type="bool" defaultValue="false"/>
                        <add name="HideTasksNotDueRecently" type="bool" defaultValue="false"/>
                        <add name="ExcludeRepositories" type="System.Collections.ArrayList" serializeAs="Xml"/>
                        <add name="ExcludeMyDaybook" type="bool" defaultValue="false"/>
                    </group>
			    </properties>
            </profile>

            <pages>
			    <controls>
				    <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				    <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			    </controls>
		    </pages>
    		
		    <httpHandlers>
			    <remove verb="*" path="*.asmx"/>
			    <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			    <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			    <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		    </httpHandlers>
    		
		    <httpModules>
			    <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		    </httpModules>
		
	</system.web>
	
    <system.web.extensions>

            <scripting>
              <webServices>
                <authenticationService enabled="true"/>
                <profileService enabled="true" readAccessProperties="Calendar.View,Calendar.CustomViewDays,Calendar.TimeFormat,Calendar.ShowNonBusinessHours,Calendar.ExcludeRepositories,Calendar.ExcludeMyDaybook,Tasks.HideCompletedTasks,Tasks.HideTasksNotDueRecently,Tasks.ExcludeRepositories,Tasks.ExcludeMyDaybook"/>                
              </webServices>
            </scripting>

    </system.web.extensions>    
    
    <system.codedom>
	        <compilers>
		        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			        <providerOption name="CompilerVersion" value="v3.5"/>
			        <providerOption name="WarnAsError" value="false"/>
		        </compiler>
		        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			        <providerOption name="CompilerVersion" value="v3.5"/>
			        <providerOption name="OptionInfer" value="true"/>
			        <providerOption name="WarnAsError" value="false"/>
		        </compiler>
	        </compilers>
    </system.codedom>
    
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
  <system.serviceModel>
 
            <services>
              <service behaviorConfiguration="DaybookServicesBehaviour" name="System.Web.ApplicationServices.AuthenticationService">
                <endpoint binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200"
                  contract="System.Web.ApplicationServices.AuthenticationService" />
              </service>
              
              <service behaviorConfiguration="DaybookServicesBehaviour" name="System.Web.ApplicationServices.RoleService">
                <endpoint binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200"
                  contract="System.Web.ApplicationServices.RoleService" />
              </service>
              
              <service behaviorConfiguration="DaybookServicesBehaviour" name="System.Web.ApplicationServices.ProfileService">
                <endpoint binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200"
                  contract="System.Web.ApplicationServices.ProfileService" />
              </service>
              
              <service behaviorConfiguration="DaybookServicesBehaviour" name="DaybookClientService" >        
                <endpoint binding="basicHttpBinding" contract="IDaybookClientService" />       
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
              </service>
            </services>
            
            <behaviors>
              <serviceBehaviors>
                <behavior name="DaybookServicesBehaviour">
                  <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />        
                </behavior>
              </serviceBehaviors>
            </behaviors>
            <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    
  </system.serviceModel>
  
</configuration>
