<?xml version="1.0"?>

<configuration> 

  <appSettings />
    
  <system.web>
    
    <pages enableSessionState="false" enableViewStateMac="true" enableEventValidation="true">
      <controls>
        <add namespace="Thon.ZaszBlog.Controls" tagPrefix="ZaszBlog"/>
      </controls>
      <namespaces>
        <add namespace="Thon.ZaszBlog.Controls" />
        <add namespace="Thon.ZaszBlog.Support" />
      </namespaces>
    </pages>
    
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/ZaszBlog/Error404.aspx" />
    </customErrors>
    <compilation debug="true"></compilation>

  </system.web>
  
</configuration>
