.layouttable
        {
            padding: 0px;
            width: 100%;
            float: left;
            border: 3px solid #000080;
        }
.content_cell
        {
            background-color:White;
            border: medium double #000080;
        }
.menu
        {
            width: 20%;
            background-color:White;
            border: medium double #000080;
        }
.top
        {
            margin-right:-1px;
            background-color:White;
            border-bottom-style: solid;
            border-bottom-width: thick;
            border-bottom-color: #000080;
        }
.footer
        {
            background-color:White;
            font-family: 'Microsoft Sans Serif';
            font-size: large;
            font-weight: lighter;
            font-style: italic;
            color: #000080;
        }
.sidebar
        {
            width: 20%;
            background-color:White;
            border: medium double #000080;
        }