<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="DaybookClientServiceAddress"
    value="http://localhost:49178/AuthWCF/Services/DaybookClientService.svc"/>
    <add key="AuthenticationServiceAddress"
    value="http://localhost:49178/AuthWCF/Services/AuthenticationService.svc"/>
    <add key="ProfileServiceAddress"
    value="http://localhost:49178/AuthWCF/Services/ProfileService.svc"/>
    
    <add key="CheckContinuously" value="false"/>

  </appSettings>
  
</configuration>